
body, html {
  height: 100%
}

#container {
background-color: #333333;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
}

#icecream {

}

#flavour {
position: relative;
height: 260px;
width: 190px;
border-radius: 80px 80px 10px 10px;
overflow: hidden;
}

#flavours {
position: relative;
top: 0%;
left:-20%;
width: 140%;
height: 120%;
background-image: linear-gradient(0deg, red, red 33%, yellow 33%, yellow 66%, blue 66%, blue);
transform: rotate(150deg);
background-position: 0px 0px;
background-repeat: repeat-y;
animation-name: animate;
animation-repeat: infinite;
animation-duration: 30s;
}

#stick {
width: 57px;
height: 86px;
background-color: brown;
border-radius: 0 0 25px 25px;
display: block;
margin: 0 auto;
}

@keyframes animate {
  to {
    background-position: 0px -1000px;
  }
}
