html, body {
  background-size: auto;
  background-position: center;
  background-attachment: fixed;
  margin-left: 0.5%;
  font-family: cursive;
  background-image: url(img/bean2.jpg);
  text-align: justify;
}