#positioned {
  border-style: solid;
  border-width: medium;
  border-color: orange;
  background-color: yellow;
  width: 200px;
  height: 100px;
  position: absolute;
  top: 50px;
  left: 50px;
  transition: width 2s, height 2s;
  transition-timing-function: ease-in-out;
  animation-name: colors;
  animation-duration: 4s;
  /* transform: rotate(30deg) scale(1,2) rotateZ(10deg); */
}

@keyframes colors {
from {
  background-color: yellow;
}
to {
  background-color: purple;
}
}
#positioned:hover {
  width: 300px;
  height: 200px;
}
#big {
  height: 2000px;
}
