html, body {
	height: 100%;
	font-style: sans-serif;
	margin-left: 0%;
	margin-right: 0%;
}

#ticket {
position: fixed;
top: 20px;
left: 300px;
}

#header {
	background-color: #675c47;
	margin: 10px 10px 0px 10px;
	height: 110px;
	width: auto;
	margin-left: 0%;
	margin-right: 0%;
	margin-top: 0%;

}

#header img#headerSlogan {
	float: right;
}

.ea {
  text-align: right;
  max-height: 100px;

}

.el {
  text-align: left;
}


<style>
{
  box-sizing: border-box;
}

.column {
  float: left;
  padding: 10px;
  height: 500px;
  box-sizing: border-box;
  text-align: center;
  font-size: auto;
  line-height: 1em;
}

.right, .left {
  width: 25%;
}

.middle {
  width: 50%;
}

</style>

#footer {
color: black;
}

a:link {
	color: black;
}

.Cariera {
  font-style: italic;
}

.Desprenoi {
  font-style: italic;
}

.Contact {
  font-style: italic;
}
